// ### Background image ###

body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
}

// ### Hide the scrollbar in Chrome, Safari and Opera ###

::-webkit-scrollbar {
  display: none;
}

// ### Hide the scrollbar in Firefox ###

html {
  scrollbar-width: none;
}

#heroImg {
  border-radius: calc(0.2vw + 0.2vh + 0.1vmin);
  background-image: url("../images/heroImg.png");
  padding-bottom: 28%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  margin: auto;
}

#borderHead {
  border-top: calc(0.6vw + 0.6vh + 0.3vmin) solid #03071e;
  border-left: calc(0.6vw + 0.6vh + 0.3vmin) solid #03071e;
  border-right: calc(0.6vw + 0.6vh + 0.3vmin) solid #03071e;
  border-top-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-top-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  background-color: #03071e;
}

#groundHead {
  border-top: calc(0.6vw + 0.6vh + 0.3vmin) solid #d00000;
  border-left: calc(0.6vw + 0.6vh + 0.3vmin) solid #d00000;
  border-right: calc(0.6vw + 0.6vh + 0.3vmin) solid #d00000;
  border-top-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-top-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  background-color: #d00000;
}

.outerRim {
  border-top: calc(0.6vw + 0.6vh + 0.3vmin) solid #ffba08;
  border-left: calc(0.6vw + 0.6vh + 0.3vmin) solid #ffba08;
  border-right: calc(0.6vw + 0.6vh + 0.3vmin) solid #ffba08;
  background-color: #ffba08;
  border-top-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-top-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
}

.content {
  background-color: darkgrey;
  img {
    height: 10vh;
  }
}

img {
  height: 10vh;
}
