body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

#heroImg {
  border-radius: calc(0.2vw + 0.2vh + 0.1vmin);
  background-image: url("../images/heroImg.png");
  padding-bottom: 28%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  margin: auto;
}

#borderHead {
  border-top: calc(0.6vw + 0.6vh + 0.3vmin) solid #1c234b;
  border-left: calc(0.6vw + 0.6vh + 0.3vmin) solid #1c234b;
  border-right: calc(0.6vw + 0.6vh + 0.3vmin) solid #1c234b;
  border-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  background-color: #1c234b;
}

#groundHead {
  border-top: calc(0.6vw + 0.6vh + 0.3vmin) solid #912c2c;
  border-left: calc(0.6vw + 0.6vh + 0.3vmin) solid #912c2c;
  border-right: calc(0.6vw + 0.6vh + 0.3vmin) solid #912c2c;
  border-top-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-top-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  background-color: #912c2c;
}

.outerRim {
  border-top: calc(0.3vw + 0.3vh + 0.15vmin) solid #ffba08;
  border-left: calc(0.3vw + 0.3vh + 0.15vmin) solid #ffba08;
  border-right: calc(0.3vw + 0.3vh + 0.15vmin) solid #ffba08;
  background-color: #ffba08;
  border-top-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-top-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
}

.innerRim {
  border-top: calc(0.3vw + 0.3vh + 0.15vmin) solid #c98403;
  border-left: calc(0.3vw + 0.3vh + 0.15vmin) solid #c98403;
  border-right: calc(0.3vw + 0.3vh + 0.15vmin) solid #c98403;
  background-color: #c98403;
  border-top-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-top-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
}

.outerRimNav {
  border-left: calc(0.3vw + 0.3vh + 0.15vmin) solid #ffba08;
  border-right: calc(0.3vw + 0.3vh + 0.15vmin) solid #ffba08;
  background-color: #ffba08;
}

.innerRimNav {
  border-left: calc(0.3vw + 0.3vh + 0.15vmin) solid #c98403;
  border-right: calc(0.3vw + 0.3vh + 0.15vmin) solid #c98403;
  background-color: #c98403;
}

#groundNav {
  border-top: calc(0.6vw + 0.6vh + 0.3vmin) solid #912c2c;
  border-left: calc(0.6vw + 0.6vh + 0.3vmin) solid #912c2c;
  border-right: calc(0.6vw + 0.6vh + 0.3vmin) solid #912c2c;
  background-color: #912c2c;
}

.navbar {
  background-color: #c2bdaf;
  border-radius: calc(0.2vw + 0.2vh + 0.1vmin);
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
}

.navbar .btn {
  background-color: #1c234b;
  -webkit-box-shadow: 0px 0px px black;
          box-shadow: 0px 0px px black;
  width: 100%;
}

.content {
  background-color: darkgrey;
}

.content img {
  height: 10vh;
}

img {
  width: 100%;
}

#borderMain {
  border: calc(0.6vw + 0.6vh + 0.3vmin) solid #1c234b;
  border-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  background-color: #1c234b;
}

#groundMain {
  border: calc(0.6vw + 0.6vh + 0.3vmin) solid #912c2c;
  border-bottom-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-bottom-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
}

.card-body {
  background-color: #b9aea5;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 1px 2px black;
          box-shadow: 0px 1px 2px black;
}

.cardImg img {
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 1px 2px black;
          box-shadow: 0px 1px 2px black;
}

.cardIndex {
  background-color: #f5efe1;
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

.msg {
  color: #f5efe1;
}

.formImg {
  width: 10vh;
}

.outerRimFoot {
  border-bottom: calc(0.3vw + 0.3vh + 0.15vmin) solid #ffba08;
  border-left: calc(0.3vw + 0.3vh + 0.15vmin) solid #ffba08;
  border-right: calc(0.3vw + 0.3vh + 0.15vmin) solid #ffba08;
  background-color: #ffba08;
  border-bottom-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-bottom-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
}

.innerRimFoot {
  border-bottom: calc(0.3vw + 0.3vh + 0.15vmin) solid #c98403;
  border-left: calc(0.3vw + 0.3vh + 0.15vmin) solid #c98403;
  border-right: calc(0.3vw + 0.3vh + 0.15vmin) solid #c98403;
  background-color: #c98403;
  border-bottom-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-bottom-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
}

#groundFoot {
  border: calc(0.6vw + 0.6vh + 0.3vmin) solid #912c2c;
  border-bottom-left-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  border-bottom-right-radius: calc(0.3vw + 0.3vh + 0.15vmin);
  background-color: #912c2c;
}

#footer {
  color: #f5efe1;
}
/*# sourceMappingURL=styles.css.map */